* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

#Container {
    grid-column: 2/5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    padding: 10px;
}

.SearchBox {
    grid-column: 2/10;
    grid-row: 3/8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.SubSearchBox {
    grid-column: 3/8;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.LoginBox {
    grid-column: 8/11;
    grid-row: 1/2;
    min-height: 56px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.LoginBox div {
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.SubSearchBox form {
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    padding-left: 5px;
    text-align: center;
}

.SubSearchBox input {
    max-width: 65%;
    min-height: 28px;
    border: 1px solid #b2b2b2;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0px 10px 0px 5px;
}

.SearchBox h1 {
    grid-column: 3/4;
    justify-self: center;
    align-self: end;
}

.SearchBox form {
    grid-area: 2/2/4/5;
    align-self: center;
    text-align: center;
}

.SearchBox input {
    max-width: 75%;
    min-height: 30px;
    border: 1px solid #b2b2b2;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0px 10px 0px;
    line-height: normal;
}

.Buttons {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: white;
    display: inline;
    border-radius: 3px;
}

.SearchedResults {
    border-top: 5px solid black;
    grid-column: 2/10;
    display: grid;
    grid-gap: 5px;
    padding: 5px;
}

.aResult {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    font-size: 16px;
    padding: 5px;
    grid-gap: 5px;
    border-bottom: 5px solid black;
}

.aResult:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span {
    font-weight: bold;
}
