* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

#Container {
    grid-column: 2/5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    padding: 10px;
}

.SearchBox {
    grid-column: 2/10;
    grid-row: 3/8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.SubSearchBox {
    grid-column: 3/8;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.LoginBox {
    grid-column: 8/11;
    grid-row: 1/2;
    min-height: 56px;
    display: grid;
    grid-template-rows: 2fr;
}

.LoginBox div {
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.SubSearchBox form {
    grid-row: 2/3;
    justify-self: end;
    align-self: center;
    max-width: 420px;
}

.SubSearchBox input {
    max-width: 65%;
    min-height: 28px;
    font-size: 18px;
    margin: 0px 5px 0px 10px;
}

.SearchBox h1 {
    grid-column: 3/4;
    justify-self: center;
    align-self: end;
}

.SearchBox form {
    grid-area: 2/2/4/5;
    align-self: center;
    text-align: center;
}

.Inputs {
    min-height: 30px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: normal;
    padding: 5px 25px;
    background-color: white;
    border: 3px solid white;
    border-radius: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.Inputs:focus {
    border: 3px solid #555;
}

.SearchBox input {
    max-width: 65%;
    min-height: 30px;
    font-size: 18px;
    margin: 0px 10px 0px;
}

.Buttons {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    display: inline;
    border-radius: 3px;
}

a {
    text-decoration: none;
}

.Buttons:hover,
.Buttons:focus {
    background-color: black;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.SearchedResults {
    border-top: 5px solid black;
    grid-column: 2/10;
    display: grid;
    grid-gap: 5px;
    padding: 5px;
}

.aResult {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    font-size: 16px;
    padding: 5px;
    grid-gap: 5px;
    border-bottom: 5px solid black;
}

.aResult:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

span {
    font-weight: bold;
}

.Modal {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
}

.ModalContent {
    background-color: #fefefe;
    grid-area: 2/2/4/3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    display: grid;
    grid-template: repeat(4, 1fr)/ 1fr 1fr;
    grid-gap: 18px;
    padding: 5px;
}

.CloseModalX {
    font-size: 34px;
    grid-area: 2/2/3/3;
    align-self: start;
    justify-self: end;
    margin-right: 10px;
    z-index: 1;
}

.CloseModalX:hover,
.CloseModalX:focus {
    text-decoration: none;
    cursor: pointer;
}

.LoginForm {
    grid-area: 2/1/4/3;
    display: grid;
    display: grid;
    grid-template: 1fr 2fr 2fr/ 1fr 1fr;
}

.LoginForm input {
    font-size: 28px;
    margin: 10px 10px;
}

.FunctionsBox {
    grid-area: 3/1/9/11;
    display: grid;
    grid-template: 1fr 2fr 2fr / repeat(4, 1fr);
    grid-gap: 5px;
    padding: 5px;
}

.FunctionsBox button:focus {
    background-color: white;
    color: black;
    outline: none !important;
    border-bottom: 5px solid black;
}

.FuntionBox {
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 5px solid black;
    grid-area: 2/1/5/5;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;
    padding: 5px;
}

.SingupForm span {
    text-align: center;
}

.SingupForm {
    display: grid;
    grid-template: repeat(7, 1fr)/ repeat(2, 1fr);
}


span p {
    font-weight: bold;
}

.pinCode {
    letter-spacing: 5px;
    text-align: center;
}

.pinCode:placeholder {
    text-align: center;
}

.errors2 {
    grid-area: 1/1/3/3;
    justify-self: center;
    align-self: center;
    font-size: 16px;
    font-weight: none;
    color: red;
}

.errors1 {
    grid-area: 6/1/7/3;
    justify-self: center;
    align-self: start;
    font-size: 16px;
    font-weight: none;
    color: red;
    margin-top: 5px;
}
