* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Arial Black", Gadget, sans-serif;
}

.StyledDiv {
    text-align: center;
    min-width: 25%;
    min-height: 25%;
    width: auto;
    height: auto;
    top: 37.5%;
    left: 37.5%;
    position: fixed;
    background-color: #F1F1F1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#ButtonSectionSelection button {
    min-width: 37.5%;
    min-height: 37.5%;
    padding: 2.5% 0px 2.5% 0px;
    width: auto;
    height: auto;
    font-family: "Arial Black", Gadget, sans-serif;
    border: none;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ButtonSectionSelection {
    padding-top: 4%
}


#Container button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.UnwantedFormsAtBeginOne {
    display: none;
}

.UnwantedFormsAtBeginOne button {
    font-family: "Arial Black", Gadget, sans-serif;
    border: none;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2%;
}

.UnwantedFormsAtBeginOne input {
    margin: 2%;
}

.UnwantedFormsAtBeginOne p {
    margin: 0;
}

.UnwantedFormsAtBeginOne {
    padding-top: 1.6%;
}

.RewindButtons {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
